.temperature {
  font-size: 35px;
  color: black;
  font-weight: 150px;
}

.unit {
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.568);
}

.active {
  color: #31d9f0;
}

.nonactive {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.418);
  font-size: 18px;
}
